body{
    font-family: 'roboto', sans-serif;
    color: #2E2F42;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*______________________HEADER____________________*/
.header {
    background-color: white;
}
.header-navigation {
}
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /*color: #4D5AE5; */
}
.logo{

}
.header-list {
}
.header-item {
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-link:hover {

}
.link {
}
.header-adress {
}
.adress-list {
}
.adress-item {
}
.adress-mail {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.adress-tel {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*______________________HERO____________________*/
.hero {
    background-color: #2E2F42;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-btn {
    font-style: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}
.hero-btn:hover, .hero-btn:focus{
    background-color: #404BBF;
    ;
}

.btn {
    border: none;
}
/*_____________________BENEFITS____________________*/
.benefits {
}
.benefits-list {
}
.benefits-item {
}
.benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.benefits-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*______________________ABOUT____________________*/
.about {
}
.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.about-list {
}
.about-item {
}
/*______________________TEAM____________________*/
.team {
    background-color: #F4F4FD;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-list {
}
.team-item {
    background-color: #FFFFFF;
}
.team-img {
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;    
}
/*______________________FOOTER____________________*/
.footer {
    background-color: #2E2F42;
}
.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    /*color: #4D5AE5;*/
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
/*______________________FILTER____________________*/
.filter {
}
.filter-list {
}
.filter-item {
}
.filter-btn {
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD ;
}
.filter-btn:hover, .filter-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}
.btn {
    cursor: pointer;
}
/*______________________GALLERY____________________*/
.gallery {
}
.gallery-list {
}
.gallery-item {
}
.gallery-img {
}
.gallery-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.gallery-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}